.plan {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: #000000;
    align-items: flex-end;
}

.img {
    display: flex;
    width: 18vw;
}

.plan3 {
    width: 280px;
}

.plan4 {
    width: 280px;
}

.plan5 {
    display: flex;
    justify-content: center;
    width: 265px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #000000;
    word-spacing: 0.5px;
}

.lp-last-text {
    display: flex;
    justify-content: center;
    width: 265px;
    height: 51px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #000000;
}

.landing-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-row {
    font-family: 'Gulzar', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 27px;
    font-weight: 700;
}

.text-row1 {
    display: flex;
    justify-content: center;
    font-family: 'Gulzar', serif;
    font-weight: 700;
    font-size: 27px;
}

.text-row2 {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.create-acnt-btn {
    display: flex;
    justify-content: center;
}

.login-acnt-btn {
    display: flex;
    justify-content: center;

}

.grid8 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.const {
    height: 100%;
}