.signup-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    height: 100vh;
}
.const1{
  height: 100%
}

.img1 {
    display: flex;
    width: 14px;
}
.signup-row{
     /* display: flex;
    justify-content:flex-start;
    align-items:center;  */
    font-size: 20px;
    /* margin-top: 10px; */
}
.signup-text-row{
    display: flex;
    font-family: 'Gulzar', serif;
    flex-direction: column;
    justify-content: flex-start;
}


/* .sign2 {
    position: absolute;
    width: 225px;
    height: 40px;
    left: 16px;
    top: 110px;

    font-family: 'Poppins';
    font-style: bold;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #000000;
} */
.signup-text-row1{
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.sign3 {
    background: rgba(241, 241, 241, 0.84);
    border: 1px solid #DCDCDC;
    border-radius: 5px;
} 

.signup-text-row2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sign4 {
    background: rgba(241, 241, 241, 0.84);
    border: 1px solid #DCDCDC;
    border-radius: 5px;
} 
.signup-text-row3{
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
}
.sign6 {
    background:rgba(241, 241, 241, 0.84);
    border: 1px solid #DCDCDC; 
    border-radius: 5px;
} 
.signup-page-btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}
.sign7 {
    /* font-family: 'Poppins', sans-serif; */
    /* color: #000000; */
    background: #00FFF0;  
} 

.sign8 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 16px;
    color: #000000;
} 
.signup-text-row4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* .sign9 {
    position: relative;
    width: 265px;
    height: 51px;
    left: 17px;
    top: 450px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-align: center;

    color: #000000;
} */
/* .sign10 {
    position: relative;
    width: 300px;
    height: 51px;
    left: 1px;
    top: 375px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #000000;
} */

/* .sign11 {
    color: #00FFF0;
} */
 .sign12{
    font-family: 'Roboto',sans-serif;
    /* font-style:oblique; */
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.signup-text-row5{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 300px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #000000;
    word-spacing: 0.5px;
}