.signup-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  height: 100vh;
  padding: 7%;
}
.const1 {
  height: 100%;
  --background: rgb(255, 201, 180);
}

.img1 {
  display: flex;
  width: 14px;
}
.signup-row {
  /* display: flex;
    justify-content:flex-start;
    align-items:center;  */
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  margin-top: 40px;
  /* font-style: bold; */
  font-weight: bold;
  /* margin-top: 10px; */
}
.signup-text-row {
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: bold;
  font-size: small;
}

.signup-text-row1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sign3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgb(255, 255, 255);
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-bottom: 15px;
}
.signup-page-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border-radius: 30px; */
}
.sign7 {
  /* font-family: 'Poppins', sans-serif; */
  /* color: #000000; */
  /* background: #26222c;   */
  /* border-radius: 100px; */
}

.sign8 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 1000;
  font-size: 16px;
  color: #000000;
}
.signup-text-row4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sign12 {
  font-family: "Roboto", sans-serif;
  /* font-style:oblique; */
  font-weight: 530;
  font-style: normal;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --ion-color-dark-black: #26222c;
  --ion-color-dark-black-rgb: 38, 34, 44;
  --ion-color-dark-black-contrast: #ffffff;
  --ion-color-dark-black-contrast-rgb: 255, 255, 255;
  --ion-color-dark-black-shade: #211e27;
  --ion-color-dark-black-tint: #3c3841;
}

.ion-color-dark-black {
  --ion-color-base: var(--ion-color-dark-black);
  --ion-color-base-rgb: var(--ion-color-dark-black-rgb);
  --ion-color-contrast: var(--ion-color-dark-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-black-shade);
  --ion-color-tint: var(--ion-color-dark-black-tint);
}
.sp-spinner{
  --spinner-color:rgb(0, 4, 255);
  /* --background: rgb(0, 0, 0); */
}